.fileSelectionContain {
  text-align: center;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  background: slategrey;
  border-radius: 20px;
}
