.paginationContain {
  position: relative;
  padding: 2.5rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: transparent;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.artworkContain {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.btn {
  background: pink;
}
.el {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: white;
  animation-name: animate-fade-in;
  animation-timing-function: ease;
  animation-duration: 0.5s;
  border-radius: 100%;
}

.disabled {
  opacity: 0.5;
}
