.container {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30vw;
  background-color: transparent;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}
.img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}
.btn {
  position: absolute;
  opacity: 0.6;
  border-radius: 20px;
  border-color: transparent;
  width: 15rem;
  height: 15rem;
}

.icon {
  width: 100%;
  height: 100%;
}
