@font-face {
  font-family: custom;
  src: url(../../public/slkscreb.ttf);
}
.contain {
  position: absolute;
  top: 2%;
  left: 38%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: rgba(196, 142, 229, 0.688);
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.navigation a {
  text-decoration: none;
  color: rgba(196, 142, 229, 0.688);
  font-size: 100%;
  letter-spacing: 1px;
}

.header a:hover {
  color: rgb(197, 122, 244);
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 2rem;
  }
}
