@font-face {
  font-family: custom;
  src: url(../../public/slkscreb.ttf);
}

.header {
  position: absolute;
  top: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  background-color: transparent;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background: transparent;
  backdrop-filter: blur(15px);
  gap: 2rem;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-family: custom;
  height: 50%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94fdfd;
  word-spacing: 2rem;
  letter-spacing: 1rem;
}

.logo a {
  text-decoration: none;
  color: rgba(196, 142, 229, 0.688);
  text-align: center;
}

.navigation {
  display: flex;
  gap: 5rem;
}

.navigation a {
  text-decoration: none;
  color: rgba(196, 142, 229, 0.688);
  font-size: 5rem;
}

.header a:hover {
  color: rgb(197, 122, 244);
}

@media (min-width: 768px) {
  .logo {
    font-size: 2.5rem;
  }

  .navigation a {
    font-size: 2rem;
  }
}
