.artDetailContain {
  padding-top: 2rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  background: linear-gradient(19deg, #8f5bb5 0%, #92c8f4 100%);
  border-radius: 200px;
}

.artwork {
  border-radius: 50px;
}

.artistName {
  font-size: 2rem;
}

.artName {
  font-size: 4rem;
}
